$navy: #05438a;

.c-navy {
  color: $navy;
}

.card-list {
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px 2px rgba($color: #000000, $alpha: 0.1);
  border: none;
}

#search-box,
#user-box {
  background-color: white;
  box-shadow: 0px 0px 5px 2px rgba($color: #000000, $alpha: 0.1);
  padding: 13px;
  border-radius: 0.375rem;
}

#search-box {
  flex-grow: 8;
  margin: 0;

}

#user-box {
  // flex-grow: 1;
  flex-basis: 250px;
  align-items: center;
  justify-content: center;

  button {
    font-size: 13px;
    padding: 4px 12px;
  }
}

#search-input-box {
  align-items: stretch;
}

.search-title {
  justify-content: space-between;
  align-items: center;

  button {
    color: white;
    font-size: 14px;
  }
}

.form-control {
  flex-grow: 1;
  // min-width: 110px;
}


select {
  max-width: 220px;
}

#user-box .btn-logout:hover,
#user-box .btn-logout:focus {
  color: white;
  /* 원하는 글자색으로 변경합니다. */
}

.card {
  border: none !important;
}

.card-header {
  // border-bottom: 1px solid rgba(33, 37, 41, 0.03);
  border-bottom: none;
}

.longtext-box {
  // width: 200px;
  /* 예시로 컨테이너의 넓이를 200px로 설정 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}