$grey: #f1f2f7;

.patient-table {
  tbody tr {
    th {
      text-align: center;
      background-color: $grey;
      padding: 4px;
    }

    td {
      text-align: center;
      padding: 4px;
    }
  }
}

@media (max-width: 700px) {
  .patient-table {
    font-size: 14px;

    th {
      font-size: 12px;
      line-height: 20px;
    }
  }

}

@media (max-width: 580px) {
  .patient-table {
    th {
      display: none;
    }
  }
}

.table-container {
  height: 800px;
  overflow-y: auto;

}

// .table thead th {
//   position: sticky;
//   top: 0;
//   background-color: #f8f9fa;
// }.

.sticky-thead {
  position: sticky;
  top: 0;
  background-color: #f1f2f7;
  // z-index: 1;

}

#order-list-table {
  text-align: center;
  width: 1200px;

  thead tr th {
    background-color: $grey;
  }

}


.menu-title {
  font-weight: 600;

}