$grey: #F1F2F7;

.patient-table {
  tbody tr {
    th {
      text-align: center;
      background-color: $grey;
    }

    td {
      text-align: center;
    }

  }

}

@media (max-width: 500px) {
  .patient-table {
    th {
      display: none;
    }

  }
}